
<div class="no-print">
  <div class="pure-form">
    <fieldset>
      <input type="text" [(ngModel)]="name" placeholder="Enter text" />
    </fieldset>
  </div>
</div>



<div id="main" style="position: relative">
  <div id="placeholder">
  <label for="placeholder">{{ division() }}</label>
  <label for="placeholder" class="bold">{{fourLetterCode()}}</label>
</div>
  <img src="template_resized.png" alt="logo" style="border: 1px dashed #aaaaaa;" />

</div>

<div class="no-print">
  <button class="pure-button" onClick="window.print()">Print Badge
  </button>
</div>



