#placeholder label {
  color: #05164D;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 28px;
}

#placeholder {
  position: absolute;
  top: 50px;
  left: 15px;
}

@media print {
  .no-print {
    display: none;
  }
}


