<div class="no-print">
<h1>Locker Labels Generator </h1>
  <div class="pure-form pure-form-stacked">
    <fieldset>
      <label for="inputText">Label Text</label>
      <input id="inputText" class="pure-input-1-4" type="text" [(ngModel)]="name" placeholder="Enter location: BSLS/IEG/TEST" required/>
    </fieldset>
  </div>
</div>



<div id="main" style="position: relative">
  <div id="placeholder">
  <label for="placeholder">{{ division() }}</label>
  <label for="placeholder" class="bold">{{fourLetterCode()}}</label>
</div>
  <img src="template_resized.png" alt="logo" style="border: 1px dashed #aaaaaa;" />

</div>

<div class="no-print">
  <button class="pure-button" onClick="window.print()">Print Badge
  </button>
</div>



