<div class="container-fluid d-print-none">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">{{ title }}</a>
    </div>
  </nav>
</div>

<div class="container d-print-none">

  <div class="form-floating mt-4">
      <textarea [(ngModel)]="labelString" class="form-control" id="inputText" placeholder="Enter location:"
                style="height: 100px" type="text"></textarea>
    <label for="inputText">Labels Text (One label per line)</label>
  </div>

  <div class="row">
    <div *ngFor="let label of labels()" class="col-4">
      <app-case-label [name]="label"></app-case-label>
    </div>
  </div>

  <div class="mt-4">
    <button class="btn btn-secondary" onClick="window.print()">Print Label
    </button>
  </div>
</div>


<div class="container-fluid d-print-block d-none">
  <div class="row">
    <div *ngFor="let label of labels()" class="col">
      <app-case-label [name]="label"></app-case-label>
    </div>
  </div>
</div>
